body {
    scrollbar-color: auto;
}
#document-viewer,
#pdfDocumentViewer,
#imageDocumentViewer,
#otherDocumentViewer {
    width: 100%;
    height: 70vh;
    overflow: auto;
}

#document-viewer #pdfDocumentViewer,
#document-viewer #imageDocumentViewer,
#document-viewer #otherDocumentViewer {
    display: none;
}

#documentEditMetadataForm .card-body {
    height: 67vh;
    overflow-y: auto;
    color: #212529;
}

#documentEditMetadataForm .card-body #metadata-section {
    font-size: small;
}

#documentEditMetadataForm .card-body #metadata-section legend {
    font-size: medium;
}

#documentEditMetadataForm .card-body #metadata-section input {
    font-size: small;
}