{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<style>
    .card-header {
        display: flex;
        justify-content: space-between;
    }

    .create-folder {
        cursor: pointer;
        color: #4e73df;
        font-size: x-large;
    }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Document</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate
            Report
        </a>
    </div> -->
    <!-- <p class="mb-4">
        Documents are valuable. See list of Registered document.
        Only active staff can be an admin of this system.
    </p> -->

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Basic Information</h6>
                </div>
                <div class="card-body">
                    <form id="categoryBasicInformationForm" data-parsley-validate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="code">Code:</label>
                                    <input type="text" class="form-control" id="code" name="code"
                                        data-parsley-maxlength="256" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="name">Name: <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        data-parsley-maxlength="256" placeholder="Enter name here (max 256 chars)."
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="is_active" class="col-sm-3 col-form-label">
                                        <input type="checkbox" class="" id="is_active" name="is_active" checked> Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    const page = "edit";
    const uuid = "{{uuid}}";
    const category_api_url = "/api/v1/categories/";
    const document_api_url = "/api/v1/documents/";
    const document_search_api_url = "/api/v1/documents/search/";
</script>

<!-- Document JS -->
<script src="{% static 'admin_category/js/category.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}