DEBUG=1 # 1 = True, 0 = False
SECRET_KEY=euvc(amc^$tk1=jk7sypgkj5=c5hbk6svw95s$5a-p0dw99+_n
ALLOWED_HOSTS=127.0.0.1,localhost

#====================== Database Credentials ==================================
DB_ENGINE=django.db.backends.postgresql
DB_NAME=docman
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=docman_db
DB_PORT=5432
#====================== /Database Credentials =================================

#====================== Email Configuration ===================================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=dummy@gmail.com
EMAIL_HOST_PASSWORD=dummy
EMAIL_USE_TLS=1
#====================== /Email Configuration ==================================

#===================== File Encryption Key ====================================
ENCRYPTION_KEY=6Ql987RmUftBOjkjljkluyiuywjQ5n7xoKOL11Vt56JDc=
#===================== /File Encryption Key ===================================

#====================== Limit Configuration ===================================
MAX_USER_COUNT=5
MAX_GROUP_COUNT=5
MAX_CATEGORY_COUNT=5
MAX_DOCUMENT_COUNT=50
#====================== /Limit Configuration ==================================
