{% load static %}

<link rel="stylesheet" href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'base/css/sb-admin-2.min.css' %}">
<link href="{% static 'base/vendor/datatable_bootstrap_v_4_6_0/datatables.min.css' %}" rel="stylesheet">

<link href="{% static 'base/vendor/multiselect/multi-select.css' %}" rel="stylesheet">
<link href="{% static 'admin/css/vendor/select2/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'base/vendor/printjs/print.min.css' %}" rel="stylesheet">

<!-- smart wizard - form stepper -->
<link rel="stylesheet" href="{% static 'base/vendor/jquery-smartwizard-v_6/css/smart_wizard_all.min.css' %}" rel="stylesheet">
<style>
    :root {
      --sw-border-color:  #eeeeee;
      --sw-toolbar-btn-color:  #ffffff;
      --sw-toolbar-btn-background-color:  #009EF7;
      --sw-anchor-default-primary-color:  #f8f9fa;
      --sw-anchor-default-secondary-color:  #b0b0b1;
      --sw-anchor-active-primary-color:  #009EF7;
      --sw-anchor-active-secondary-color:  #ffffff;
      --sw-anchor-done-primary-color:  #90d4fa;
      --sw-anchor-done-secondary-color:  #fefefe;
      --sw-anchor-disabled-primary-color:  #f8f9fa;
      --sw-anchor-disabled-secondary-color:  #dbe0e5;
      --sw-anchor-error-primary-color:  #dc3545;
      --sw-anchor-error-secondary-color:  #ffffff;
      --sw-anchor-warning-primary-color:  #ffc107;
      --sw-anchor-warning-secondary-color:  #ffffff;
      --sw-progress-color:  #009EF7;
      --sw-progress-background-color:  #f8f9fa;
      --sw-loader-color:  #009EF7;
      --sw-loader-background-color:  #f8f9fa;
      --sw-loader-background-wrapper-color:  rgba(255, 255, 255, 0.7);
    }
  </style>

<link rel="stylesheet" href="{% static 'base/vendor/dropzone-v5/css/dropzone.min.css' %}" rel="stylesheet">


<!-- Common style sheet of this project -->
<link rel="stylesheet" href="{% static 'base/css/common.css' %}">
