{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/base/css/index.css">

{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body droparea svelte-12uhhij dz-clickable dz-started">
                   

                    <div class="dropzone">
                        <div class="dz-message svelte-12uhhij">
                            <h1 class="svelte-12uhhij">Try it out!</h1>
                            <p>Drag and drop files here</p>
                        </div>
                    </div>
                    

                    <script>
                        // Dropzone has been added as a global variable.
                        const dropzone = new Dropzone(".dropzone", { url: "/api/v1/documents/" });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Recent Uploaded Docs</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="docs-list">
                        <li>List 1</li>
                        <li>List 2</li>
                        <li>List 3</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>


</div>
{% endblock %}


{% block js %}
<script>
    const custom_url = "your/custom/url";
</script>
<script src="/static/base/js/index.js"></script>
{% endblock %}