{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/base/css/index.css">
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body droparea svelte-12uhhij dz-clickable dz-started">
                    <div class="dropzone">
                        <div class="dz-message svelte-12uhhij">
                            <h1 class="svelte-12uhhij"><i class="fas fa-cloud-upload-alt text-primary"></i></h1>
                            <p>Drag and drop files here</p>
                        </div>
                    </div>

                    <div style="display:none;" id="dropzone-template">
                        <div id="dropzone-inner-template" class="dz-preview dz-file-preview">
                            <div class="dz-image"><img data-dz-thumbnail /></div>
                            <div class="dz-details">
                                <div class="dz-size"><span data-dz-size></span></div>
                                <div class="dz-filename"><span data-dz-name></span></div>
                            </div>
                            <div class="dz-progress">
                                <span class="dz-upload" data-dz-uploadprogress></span>
                            </div>
                            <div class="dz-error-message"><span data-dz-errormessage></span></div>
                            <div class="dz-success-mark">
                                <i class="far fa-check-circle"></i>
                            </div>
                            <div class="dz-error-mark">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <circle cx="12" cy="19" r="2" />
                                    <path d="M10 3h4v12h-4z" />
                                </svg>
                            </div>
                            <div class="dz-remove actionButtonRemoveDoc" data-dz-remove>
                                <i class="far fa-times-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-align-right">
                    Next <i class="fas fa-arrow-right text-success"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Recent Uploaded Docs</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="docs-list">
                        <li>List 1</li>
                        <li>List 2</li>
                        <li>List 3</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>


</div>
{% endblock %}


{% block js %}
<script>
    const document_api_url = "/api/v1/documents/";
</script>
<script src="/static/base/js/index.js"></script>
{% endblock %}