{% load static %}


<script src="{% static 'base/vendor/jquery/jquery.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'base/js/sb-admin-2.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Page level plugins -->
<script src="{% static 'base/vendor/chart.js/Chart.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'base/js/demo/chart-area-demo.js' %}?v={{JS_VERSION}}"></script>

<script src="{% static 'base/js/demo/chart-pie-demo.js' %}?v={{JS_VERSION}}"></script>

<script src="{% static 'base/vendor/datatable_bootstrap_v_4_6_0/datatables.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Parsley, the ultimate JavaScript form validation library -->
<script src="{% static 'base/js/parsley-2.9.2.min.js' %}?v={{JS_VERSION}}" type="text/javascript"></script>

<!-- Quicksearch JavaScript-->
<script src="{% static 'base/vendor/quicksearch/jquery.quicksearch.js' %}?v={{JS_VERSION}}"></script>

<!-- Multiselect JavaScript-->
<script src="{% static 'base/vendor/multiselect/jquery.multi-select.js' %}?v={{JS_VERSION}}"></script>

<!-- sweetalert2 -->
<script src="{% static 'base/vendor/sweetalert2/sweetalert2.10.min.js' %}?v={{JS_VERSION}}"></script>

<!-- PrintJS-->
<script src="{% static 'base/vendor/printjs/print.min.js' %}?v={{JS_VERSION}}"></script>

<!-- select2 -->
<script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}?v={{JS_VERSION}}"></script>

<!-- notification -->
<script src="{% static 'base/vendor/notify-js/notify.min.js' %}?v={{JS_VERSION}}"></script>

<!-- moment js for datetime -->
<script src="{% static 'base/js/moment.js' %}?v={{JS_VERSION}}"></script>

<!-- Block UI -->
<script src="{% static 'base/vendor/jquery-blockUI/blockUI.js' %}?v={{JS_VERSION}}"></script>

<!-- Smart Wizard -->
<script src="{% static 'base/vendor/jquery-smartwizard-v_6/js/jquery.smartWizard.min.js' %}?v={{JS_VERSION}}"></script>

<script src="{% static 'base/vendor/dropzone-v5/js/dropzone.min.js' %}?v={{JS_VERSION}}"></script>

<!-- select 2 js -->
<script src="{% static 'base/vendor/select2-v4_1/js/select2.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Common -->
<script src="{% static 'base/js/common.js' %}?v={{JS_VERSION}}"></script>


<!-- google translator -> check sidebar.html too-->
<!-- <script type="text/javascript">
        function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                        { pageLanguage: 'en' },
                        'google_translate_element'
                );
        }
</script> -->

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
</script>