{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'admin_document/css/upload.css' %}?v={{CSS_VERSION}}">
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Document</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate
            Report
        </a>
    </div> -->
    <!-- <p class="mb-4">
        Documents are valuable. See list of Registered document.
        Only active staff can be an admin of this system.
    </p> -->

    <div class="row">
        <div class="col-md-8">
            <div class="card shadow mb-4" id="document-upload">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upload Document</h6>
                </div>
                <div class="card-body">
                    <div class="dropzone">
                        <div class="dz-message svelte-12uhhij">
                            <h1 class="svelte-12uhhij"><i class="fas fa-cloud-upload-alt text-primary"></i></h1>
                            <p>Drag and drop files here</p>
                        </div>
                    </div>

                    <div style="display:none;" id="dropzone-template">
                        <div id="dropzone-inner-template" class="dz-preview dz-file-preview">
                            <div class="dz-image"><img data-dz-thumbnail /></div>
                            <div class="dz-details">
                                <div class="dz-size"><span data-dz-size></span></div>
                                <div class="dz-filename"><span data-dz-name></span></div>
                            </div>
                            <div class="dz-progress">
                                <span class="dz-upload" data-dz-uploadprogress></span>
                            </div>
                            <div class="dz-error-message"><span data-dz-errormessage></span></div>
                            <div class="dz-success-mark">
                                <i class="far fa-check-circle"></i>
                            </div>
                            <div class="dz-error-mark">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="#000000">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <circle cx="12" cy="19" r="2" />
                                    <path d="M10 3h4v12h-4z" />
                                </svg>
                            </div>
                            <div class="dz-remove actionButtonRemoveDoc" data-dz-remove>
                                <i class="far fa-times-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer">
                    <div id="dropzone-stats"></div>
                </div> -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Metadata Information</h6>
                    <div></div>
                </div>
                <div class="card-body">
                    <form id="documentUploadMetadataForm" data-parsley-validate>
                        <div class="form-group">
                            <label for="category">Folder</label>
                            <select class="form-control" id="category" name="category" required>
                            </select>
                        </div>
                        <div id="metadata-section"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal HTML -->
    <div class="modal fade" id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderModalTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFolderModalTitle">Add New Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addFolderModalForm" data-parsley-validate>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Name<span
                                    class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="is_active" class="col-sm-3 col-form-label">
                                <input type="checkbox" class="" id="is_active" name="is_active" checked> Active
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <div id="addFolderModalFormError" class="modal-form-error text-danger"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    const page = "list";
    const category_api_url = "/api/v1/categories/";
    const document_api_url = "/api/v1/documents/";
    const document_search_api_url = "/api/v1/documents/search/";
</script>

<!-- Document JS -->
<script src="{% static 'admin_document/js/upload.js' %}?v={{JS_VERSION}}"></script>

{% endblock %}