{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<style>
    .card-header {
        display: flex;
        justify-content: space-between;
    }

    .create-folder {
        cursor: pointer;
        color: #4e73df;
        font-size: x-large;
    }

    /* Basic styling for breadcrumbs */
    .breadcrumb {
        padding: 10px;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    .breadcrumb a {
        text-decoration: none;
        color: #007bff;
    }

    .breadcrumb a:hover {
        text-decoration: underline;
    }

    .breadcrumb span {
        color: #6c757d;
    }

    .breadcrumb .separator {
        margin: 0 5px;
    }

    .actionButton {
        cursor: pointer;
        font-size: 1em;
        margin-left: 10px;
        background: #3785c1;
        color: #fff;
        padding: 3px 4px;
        border-radius: 3px;
    }

    .modal-form-error {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Document</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate
            Report
        </a>
    </div> -->
    <!-- <p class="mb-4">
        Documents are valuable. See list of Registered document.
        Only active staff can be an admin of this system.
    </p> -->


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Document List</h6>
            <div>
                <i id="actionButtonAddFolder" class="fa fa-folder-plus create-folder" title="Create New Folder"></i>
            </div>
        </div>
        <div class="card-body">
            <!-- Breadcrumb container -->
            <nav id="breadcrumb" class="breadcrumb">
                <!-- Breadcrumb items will be dynamically generated here -->
            </nav>
            <div class="table-responsive">
                <table class="table table-bordered table-hover row-select" id="documentDataTable">
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal HTML -->
<div class="modal fade" id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFolderModalTitle">Add New Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addFolderModalForm" data-parsley-validate>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Name<span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="is_active" class="col-sm-3 col-form-label">
                            <input type="checkbox" class="" id="is_active" name="is_active" checked> Active
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div id="addFolderModalFormError" class="modal-form-error text-danger"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteFolderModal" tabindex="-1" role="dialog" aria-labelledby="deleteFolderModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFolderModalTitle">Delete Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="deleteFolderModalForm" data-parsley-validate>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <p>Are you sure you want to delete folder <strong
                                    id="deleteFolderModalFolderName"></strong>?</p>
                            <div class="alert alert-warning">
                                <strong>Warning:</strong> Deletion not allowed if folder contains documents or
                                sub-folders.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div id="deleteFolderModalFormError" class="modal-form-error text-danger"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteFileModal" tabindex="-1" role="dialog" aria-labelledby="deleteFileModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFileModalTitle">Delete Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="deleteFileModalForm" data-parsley-validate>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <p>Are you sure you want to delete file <strong id="deleteFileModalFolderName"></strong>?
                            </p>
                            <div class="alert alert-warning">
                                <strong>Warning:</strong> Deleted file cannot be recovered.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div id="deleteFileModalFormError" class="text-danger"></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    const page = "list";
    const category_api_url = "/api/v1/categories/";
    const document_api_url = "/api/v1/documents/";
    const document_search_api_url = "/api/v1/documents/search/";
</script>

<!-- Document JS -->
<script src="{% static 'admin_document/js/document.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}