{% extends 'base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Metadata Field</h1>
         <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate
                Report
        </a>
    </div> -->
    <!-- <p class="mb-4">
        Users are valuable. See list of Registered user.
        Only active staff can be an admin of this system.
    </p> -->


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Metadata Field Edit</h6>
        </div>
        <div class="card-body">
            <form id="field_edit" data-parsley-validate enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="name" name="name" data-parsley-maxlength="100"
                                placeholder="Enter name here (max 100 chars)." required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field_type">Type: <span class="text-danger">*</span></label>
                            <select class="form-control" id="field_type" name="field_type" required>
                                <option value="text">Text</option>
                                <option value="integer">Digit</option>
                                <option value="email">Email</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="placeholder">Placeholder:</label>
                            <input type="text" class="form-control" id="placeholder" name="placeholder"
                                data-parsley-maxlength="100" placeholder="Enter placeholder here (max 100 chars).">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="order">Order: <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="order" name="order" value="9999"
                                data-parsley-maxlength="100" placeholder="Enter order here (max 100 chars)." required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="is_unique">
                                <input type="checkbox" id="is_unique" name="is_unique"> Unique
                            </label> <br>
                            <label for="is_required">
                                <input type="checkbox" id="is_required" name="is_required"> Required
                            </label> <br>
                            <label for="is_active">
                                <input type="checkbox" id="is_active" name="is_active"> Active
                            </label> <br>
                        </div>
                    </div>
                </div>
                <input type="button" value="Submit" class="submit_btn btn btn-primary float-right">
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    const page = "field_edit";
    const field_list_api_urls = '/api/v1/metadata/{{metadata_uuid}}/fields/';
    const fields_list_url = "/metadata/edit/{{metadata_uuid}}/";
    const uuid = "{{ uuid }}";
    const metadata_uuid = "{{ metadata_uuid }}";
</script>

<!-- Metadata Field JS -->
<script src="{% static 'admin_metadata/js/metadata_field.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}