.card {
	height: 100%;
	max-height: 19.25rem;
}

#document-upload {
	display: none;
}
#recent-uploaded-document {
	display: none;
}

.card-body .dropzone {
	height: 13.55rem;
	background-color: #8080800f;
	border: 2px solid #8080802e;
	border-radius: .5rem;
	padding: 0.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	overflow-y: auto;
}

.dz-message.svelte-12uhhij h1.svelte-12uhhij {
	font-size: 2.375rem;
	font-weight: 700;
	color: black;
}

.dz-success-mark {
	background-color: rgb(102, 187, 106, 0.8) !important;
}

.dz-success-mark i {
	font-size: 33px;
	color: #fff !important;
	padding: 10px;
}

.dz-error-mark {
	background-color: rgba(239, 83, 80, 0.8) !important;
}

.dz-error-mark svg {
	font-size: 54px;
	fill: #fff !important;
}

#dropzone-inner-template .dz-remove {
	z-index: 999;
	position: absolute;
	display: block;
	top: 0%;
	left: 0%;
	margin-left: -16px;
	margin-top: -16px;
}

#dropzone-inner-template .dz-remove i {
	cursor: pointer;
	color: red;
}

#recent-docs-list {
	overflow-y: auto;
	max-height: 13.25rem;
}